@model LivrariaMendes.Models.Livro

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Livro</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group" style="display:none">
            <label asp-for="IdLivro" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdLivro" class="form-control" />
                <span asp-validation-for="IdLivro" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none">
            <label asp-for="IdAutor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdAutor" class="form-control" />
                <span asp-validation-for="IdAutor" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Titulo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ano" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Genero" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Preco" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger" />
            </div>
        </div>
   
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
