@model LivrariaMendes.Models.Autor

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja realmente excluir o Autor "@Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.SobreNome)"?</h3>
<div>
 
    <hr />
   
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Listar</a>
        </div>
    </form>
</div>
