@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"].</h2>

<address>
    
    <b>(11) 96359-4085</b><br />

</address>

<address>
    <strong>Email:</strong> <a href="felipemendesara123@gmail.com">felipemendesara123@gmail.com</a><br />
    <strong>GITHUB:</strong> <a href="https://github.com/felipemendesara">https://github.com/felipemendesara</a>

</address>
